@using MovieManiaPr02.Models;
@using MovieManiaPr02.Persistence
@model IEnumerable<MovieManiaPr02.Models.Movie>
@addTagHelper *, Microsoft.AspNetCore.Mvc.TagHelpers

@{
    Layout = "_Layout";
}

<header class="d-flex justify-content-between align-items-center mb-3">
    <h1>Movies</h1>

    
    <a class="btn btn-primary" asp-controller="Movies" asp-action="Add">Add Movie</a>

</header>



<div class="container"> 
    <div class="row">

  
    @foreach (var movie in Model)
    {
      
                <div class="col-md-3 mb-3">
                    <div class="card h-100">
                        <div class="card-body">
                <h5 class="card-title">@movie.Title</h5>
                <h6 class="card-subtitle mb-2 text-muted">@movie.ReleaseYear | @movie.DurationInMinutes | *@movie.Rating</h6>
                <p class="card-text">@movie.Description</p>
                <a class="btn btn-primary" asp-controller="Movies" asp-action="Edit" asp-route-id="@movie.MovieId">Edit</a>
                <a class="btn btn-danger" asp-controller="Movies" asp-action="Delete" asp-route-id="@movie.MovieId"
                   onclick="return confirm('Are you sure you want to delete the movie: @movie.Title?');">
                   Delete
                </a>


            </div>
                    </div>
                </div>
        
    }
     </div>

    </div>


    <script>

        

    </script>